{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Welcome to ToDo!</h1>

<p>Hi, I'm Dave!</p>
<p>
    Todo is a simple CRUD app, robustly deployed.
<p>
    Todo is built with Django, using Django templates styled with Bootstrap.<br>
    Data is stored using PostgreSQL.<br>
    Emails are served by Amazon SES.
</p>
<p>
    Todo is deployed on an AWS EC2 instance, with Gunicorn as the application server.<br>
    This stack is orchestarted using Docker.
    Nginx is configured as a reverse proxy, serves static files for this and other sites on the instance, and logs all traffic.<br>
    Namecheap is the domain registrar, and LetsEncrypt provides the TLS certificate.<br>
</p>
<p>
    This site's code is viewable on my github: <a href="https://github.com/davefriedman/todo">https://github.com/davefriedman/todo</a>.<br>
    Say hello! <a href="https://davefriedman.github.io/contact">https://davefriedman.github.io/contact</a>.
</p>

{% endblock %}
