{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-6 offset-md-3">
    <div>
        <h2>Create a Task</h2>
    </div>

    <div class="task_form">
        <form action="{% url 'update_task' task.id %}" method="POST">

            {% csrf_token %}
            {{ form | crispy }}

            <input type="submit" value="Save" class="btn btn-success">
        </form>
    </div>

  </div>
</div>
{% endblock %}
